-var imgUrl = '../imgs/invition/';
-var cssUrl = '../css/';
-var jsUrl = '../js/';
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
        meta(name='format-detection' content='telephone=no')
        title 邀请有礼
        meta(name='keywords' content='严选多家优质平台，起投门槛低，享最高5倍原始收益，让你返利投资收益疯狂涨')
        meta(name='description' content='严选多家优质平台，起投门槛低，享最高5倍原始收益，让你返利投资收益疯狂涨')
        link(rel='stylesheet' href=cssUrl+'base.css')
        link(rel='stylesheet' href=cssUrl+'popup.css')
        link(rel='stylesheet' href=cssUrl+'invition.css')
    body
        #app
            .header
                img(src=imgUrl+'slogan.png' alt)
                a.btn-rule(href='someUrl') 活动规则
            .invite-box
                .invite-robbon
                .invite-content
                    p.invite-title 好友每1笔首投返利
                    img.invite-img(src=imgUrl+'invite.png' alt)
                    .invite-text 新人专享大礼包
                    button.invite-btn#invite-btn 邀请好友赚现金奖励
                    //- <button id="QQ" target="_blank" class="QQ">
                    //-     img(src="../imgs/invition/qq.png", alt="")
                    //-     <span>QQ</span>
                    //- </button>
                    //- <button id="weixin1" target="_blank" class="weixin">
                    //-     <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" class="share-button-logo">
                    //-         <path d="M695.69024 343.114752c11.828224 0 23.489536 0.869376 35.08224 2.189312C699.266048 195.767296 542.396416 84.672512 363.307008 84.672512c-200.204288 0-364.189696 139.027456-364.189696 315.610112 0 101.974016 54.561792 185.621504 145.742848 250.55744l-36.453376 111.645696 127.3344-65.052672c45.541376 9.171968 82.093056 18.62656 127.566848 18.62656 11.42784 0 22.75328-0.56832 34.015232-1.470464-7.117824-24.792064-11.261952-50.787328-11.261952-77.765632C386.060288 474.692608 522.682368 343.114752 695.69024 343.114752L695.69024 343.114752zM497.321984 234.959872c31.108096 0 56.29952 25.694208 56.29952 57.368576 0 31.70816-25.192448 57.38496-56.29952 57.38496-31.105024 0-56.298496-25.675776-56.298496-57.38496C441.024512 260.65408 466.217984 234.959872 497.321984 234.959872L497.321984 234.959872zM242.490368 350.866432c-31.074304 0-56.298496-25.6768-56.298496-57.368576 0-31.690752 25.225216-57.38496 56.298496-57.38496 31.106048 0 56.332288 25.694208 56.332288 57.38496C298.822656 325.189632 273.596416 350.866432 242.490368 350.866432L242.490368 350.866432zM1025.534976 633.566208c0-148.36736-145.71008-269.318144-309.361664-269.318144-173.274112 0-309.730304 120.951808-309.730304 269.318144 0 148.632576 136.456192 269.31712 309.730304 269.31712 36.286464 0 72.869888-9.322496 109.290496-18.62656l99.902464 55.764992-27.396096-92.751872C971.07456 791.370752 1025.534976 717.262848 1025.534976 633.566208L1025.534976 633.566208zM621.016064 591.968256c-22.15424 0-40.095744-18.29376-40.095744-40.863744 0-22.552576 17.941504-40.845312 40.095744-40.845312 22.150144 0 40.093696 18.291712 40.093696 40.845312C661.110784 573.674496 643.166208 591.968256 621.016064 591.968256L621.016064 591.968256zM821.220352 594.290688c-22.152192 0-40.093696-18.29376-40.093696-40.863744 0-22.567936 17.974272-40.845312 40.093696-40.845312 22.152192 0 40.128512 18.277376 40.128512 40.845312C861.348864 575.995904 843.372544 594.290688 821.220352 594.290688L821.220352 594.290688zM821.220352 594.290688"></path>
                    //-     </svg>
                    //-     <span>微信1</span>
                    //- </button>
                    //- <button id="weixin2" target="_blank" class="weixin">
                    //-     <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" class="share-button-logo">
                    //-         <path d="M695.69024 343.114752c11.828224 0 23.489536 0.869376 35.08224 2.189312C699.266048 195.767296 542.396416 84.672512 363.307008 84.672512c-200.204288 0-364.189696 139.027456-364.189696 315.610112 0 101.974016 54.561792 185.621504 145.742848 250.55744l-36.453376 111.645696 127.3344-65.052672c45.541376 9.171968 82.093056 18.62656 127.566848 18.62656 11.42784 0 22.75328-0.56832 34.015232-1.470464-7.117824-24.792064-11.261952-50.787328-11.261952-77.765632C386.060288 474.692608 522.682368 343.114752 695.69024 343.114752L695.69024 343.114752zM497.321984 234.959872c31.108096 0 56.29952 25.694208 56.29952 57.368576 0 31.70816-25.192448 57.38496-56.29952 57.38496-31.105024 0-56.298496-25.675776-56.298496-57.38496C441.024512 260.65408 466.217984 234.959872 497.321984 234.959872L497.321984 234.959872zM242.490368 350.866432c-31.074304 0-56.298496-25.6768-56.298496-57.368576 0-31.690752 25.225216-57.38496 56.298496-57.38496 31.106048 0 56.332288 25.694208 56.332288 57.38496C298.822656 325.189632 273.596416 350.866432 242.490368 350.866432L242.490368 350.866432zM1025.534976 633.566208c0-148.36736-145.71008-269.318144-309.361664-269.318144-173.274112 0-309.730304 120.951808-309.730304 269.318144 0 148.632576 136.456192 269.31712 309.730304 269.31712 36.286464 0 72.869888-9.322496 109.290496-18.62656l99.902464 55.764992-27.396096-92.751872C971.07456 791.370752 1025.534976 717.262848 1025.534976 633.566208L1025.534976 633.566208zM621.016064 591.968256c-22.15424 0-40.095744-18.29376-40.095744-40.863744 0-22.552576 17.941504-40.845312 40.095744-40.845312 22.150144 0 40.093696 18.291712 40.093696 40.845312C661.110784 573.674496 643.166208 591.968256 621.016064 591.968256L621.016064 591.968256zM821.220352 594.290688c-22.152192 0-40.093696-18.29376-40.093696-40.863744 0-22.567936 17.974272-40.845312 40.093696-40.845312 22.152192 0 40.128512 18.277376 40.128512 40.845312C861.348864 575.995904 843.372544 594.290688 821.220352 594.290688L821.220352 594.290688zM821.220352 594.290688"></path>
                    //-     </svg>
                    //-     <span>微信2</span>
                    //- </button>
                    //- <button id="weixin3" target="_blank" class="weixin">
                    //-     <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" class="share-button-logo">
                    //-         <path d="M695.69024 343.114752c11.828224 0 23.489536 0.869376 35.08224 2.189312C699.266048 195.767296 542.396416 84.672512 363.307008 84.672512c-200.204288 0-364.189696 139.027456-364.189696 315.610112 0 101.974016 54.561792 185.621504 145.742848 250.55744l-36.453376 111.645696 127.3344-65.052672c45.541376 9.171968 82.093056 18.62656 127.566848 18.62656 11.42784 0 22.75328-0.56832 34.015232-1.470464-7.117824-24.792064-11.261952-50.787328-11.261952-77.765632C386.060288 474.692608 522.682368 343.114752 695.69024 343.114752L695.69024 343.114752zM497.321984 234.959872c31.108096 0 56.29952 25.694208 56.29952 57.368576 0 31.70816-25.192448 57.38496-56.29952 57.38496-31.105024 0-56.298496-25.675776-56.298496-57.38496C441.024512 260.65408 466.217984 234.959872 497.321984 234.959872L497.321984 234.959872zM242.490368 350.866432c-31.074304 0-56.298496-25.6768-56.298496-57.368576 0-31.690752 25.225216-57.38496 56.298496-57.38496 31.106048 0 56.332288 25.694208 56.332288 57.38496C298.822656 325.189632 273.596416 350.866432 242.490368 350.866432L242.490368 350.866432zM1025.534976 633.566208c0-148.36736-145.71008-269.318144-309.361664-269.318144-173.274112 0-309.730304 120.951808-309.730304 269.318144 0 148.632576 136.456192 269.31712 309.730304 269.31712 36.286464 0 72.869888-9.322496 109.290496-18.62656l99.902464 55.764992-27.396096-92.751872C971.07456 791.370752 1025.534976 717.262848 1025.534976 633.566208L1025.534976 633.566208zM621.016064 591.968256c-22.15424 0-40.095744-18.29376-40.095744-40.863744 0-22.552576 17.941504-40.845312 40.095744-40.845312 22.150144 0 40.093696 18.291712 40.093696 40.845312C661.110784 573.674496 643.166208 591.968256 621.016064 591.968256L621.016064 591.968256zM821.220352 594.290688c-22.152192 0-40.093696-18.29376-40.093696-40.863744 0-22.567936 17.974272-40.845312 40.093696-40.845312 22.152192 0 40.128512 18.277376 40.128512 40.845312C861.348864 575.995904 843.372544 594.290688 821.220352 594.290688L821.220352 594.290688zM821.220352 594.290688"></path>
                    //-     </svg>
                    //-     <span>微信3</span>
                    //-     <img src="" alt="QR Code" id="weixinQrcode">
                    //- </button>
            .steps-box
                img(src=imgUrl+'steps.png' alt)
            #content
                .card
                    .divider
                        h3 我的邀请战绩
                    .my-invite-info
                        .my-invite-item
                            b 0
                            p 共邀请好友
                        .my-invite-item
                            b 0
                            p 好友首投笔数
                        .my-invite-item
                            b 99+
                            p 本月排名
                        .my-invite-item
                            b 0
                            p 获得奖励
                    a.my-invite-records(href='') 查看邀请记录
                .card.rank-title-box
                    .rank-title
                        .divider
                            h3
                                span.month 8月人脉榜
                        a(href='someUrl') 本月榜单
                    p.rank-content
                        | 每月有效新人数（新人需注册且完成一笔返利投资）
                        br
                        | 前10名可获得100元现金奖励
                .card#rank-user
                    table.rank-table
                        thead
                            tr
                                td 奖励排名
                                td 有效邀请人数
                                td.award 排名奖励
                        tbody
                            tr
                                td
                                    .avatar
                                        img(src=imgUrl+'default_avtar.jpg' alt)
                                    .info
                                        .rank 排名: 99+
                                        .name 我   
                                td
                                    .text
                                        .amount 0
                                td.award 0
                .card.rank-card.rank-list
                    table.rank-table
                        tbody
                            tr
                                td
                                    .avatar
                                        img(src=imgUrl+'default_avtar.jpg' alt)
                                    .info
                                        .rank
                                            i.icon-rank.icon-rank1
                                        .name 159****3804
                                td
                                    .text
                                        .amount 93
                                        span.label 1836.00元邀请奖励
                                td.award 100
                            tr
                                td
                                    .avatar
                                        img(src=imgUrl+'default_avtar.jpg' alt)
                                    .info
                                        .rank
                                            i.icon-rank.icon-rank2
                                        .name 189****1242
                                td
                                    .text
                                        .amount 11
                                        span.label 71.00元邀请奖励
                                td.award 100
                            tr
                                td
                                    .avatar
                                        img(src=imgUrl+'default_avtar.jpg' alt)
                                    .info
                                        .rank
                                            i.icon-rank.icon-rank3
                                        .name 188****3422
                                td
                                    .text
                                        .amount 5
                                        span.label 92.00元邀请奖励
                                td.award 100
                            tr
                                td
                                    .avatar
                                        img(src=imgUrl+'default_avtar.jpg' alt)
                                    .info
                                        .rank 排名：4
                                        .name 137****1386
                                td
                                    .text
                                        .amount 4
                                        span.label 268.50元邀请奖励
                                td.award 100
                p.rank-tip *因返利审核周期限制,上月榜单会在次月5号公布(如遇节假日公布时间顺延),排名奖励在结果公布一周内发放完毕。
            #apply
                img(alt src=imgUrl+'apply.gif')
        #mask
            .apply-panel
                img.apply-bg(alt src=imgUrl+'applypanel.png')
                img.apply-ewm(alt src=imgUrl+'erweima.png')
                i.apply-close x
        script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
        //- script(src=jsUrl+"NativeShare.js")
        //- script(src=jsUrl+'mshare.js')
        script(src=jsUrl+'tool.js')
        script(src=jsUrl+'invition.js')